body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f9f9f9;
    color: #333;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #B1A296;
}

header {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px 0;
}

header h1 {
    text-align: center;
    font-size: 24px;
    color: #5D5C61;
}

nav {
    margin-top: 10px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav li {
    margin: 0 10px;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    color: #7395AE;
}

.site-search {
    display: flex;
    align-items: center;
    height: 40px;
}

#search-input {
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    outline: none;
    width: 100%;
    height: 100%;
}

#search-btn {
    padding: 0 20px;
    background-color:#7395AE;
    color: white;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    height: 100%;
}

#search-btn:hover {
    background-color: #0056b3;
}

.filters {
    margin: 20px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.filters-sort label {
    margin-left: 7px;
    font-weight: bold;
}

.filters-sort select {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.shop-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    margin: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
}

#shop-items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.shop-item {
    position: relative;
    flex: 1 1 calc(25% - 20px);
    max-width: calc(25% - 20px);
    box-sizing: border-box;
}

.shop-item:hover {
    transform: scale(1.03);
}

.shop-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

.shop-item .content {
    padding: 15px;
}

.shop-item .content h1 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
}

.shop-item .content p {
    font-size: 14px;
    color: #666;
}

.shop-item .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #f8f8f8;
    border-top: 1px solid #ddd;
}

.shop-item .price {
    font-size: 18px;
    font-weight: bold;
    color: #28a745;
}

.shop-item .rating {
    color: #FFD700;
}

.tags {
    position: absolute;
    top: 10px;
    left: 15px;
    color: white;
    background-color: red;
    border-radius: 20%;
    padding: 5px;
}
.tags:empty {
    display: none;
  }

footer {
    margin-top: 20px;
    padding: 20px 0;
    background-color: #333;
    color: white;
    text-align: center;
}

footer .logo {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}

#nothing-found {
    text-align: center;
    font-size: 18px;
    color: #888;
    display: none;
}